In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df= pd. Dataframes(pd.read_csv('/content/train.csv'))
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
# df.isnull().sum() returns a pandas series with columns name as the label index
# And total count of null values in the columns as its value 
# And we are storing only those columns which have more than 35% of data
drop_col= df.isnull().sum()[df.isnull().sum()>(35/100*df.shape[0])]
drop_col

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index,axis=1,inplace= True) 
df.isnull().sum()

In [ ]:
df.fillna(df.mean(),inplace= True)
df.isnull().sum()

In [ ]:
df['Embarked'].describe()

In [ ]:
df['Embarked'].fillna('S',inplace= True)
df.isnull().sum()

In [ ]:
df.corr()

In [ ]:
df['FamilySize']=df['Sibsp']+['Parch']
df. drop(['Sibsp', 'Parch'],axis=1,inplace= True) 
df.corr()

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index
df.head()

In [ ]:
df.groupby(['Alone'])['Survived '].mean()

In [ ]:
df[['Alone ','Fare']].corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]
df. groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()